$color-1: #F39705;
$color-2: #E25611;
$color-3: #9A2C4A;
$color-4: #97C200;
$color-5: #3D4C53;
$color-6: #62A783;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 50px;
    padding-left: 50px;
}
.row{
    display: flex;
    align-items: flex-end;
    .btn{
        margin-right: 30px;
        &:last-child{
            margin-right: 0;
        }
    }
    
}

.btn{
    color: $color-2;
    background-color: $color-1;
    padding: 11px 36.1px 11px 36.2px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 14px;
    // display: inline-block;

    // &:hover{
    //     background-color: $color-hover;
    //     cursor: pointer;
    // }

    &.medium{
        font-size: 18px;
        padding: 14px 47px;
    }
    &.large{
        font-size: 26px;
        padding: 23px 93px
    }
    &.x-large{
        font-size: 36px;
        padding: 27px 100px 27px 102px;
    }
  &.round{
    &-3{
      border-radius:3px;
    }
    &-7{
      border-radius:7px;
    }
    &-12{
      border-radius:12px;
    }
    &-20{
      border-radius:20px;
    }
  }
  
  &.bg-color{
    &-1{
        background-color: $color-1;
    }
    &-2{
        background-color: $color-2;
    }
    &-3{
        background-color: $color-3;
    }
    &-4{
        background-color: $color-4;
    }
    &-5{
        background-color: $color-5;
    }
    &-6{
        background-color: $color-6;
    }
}
}

