@import 'reset';
@import 'base';
@import 'palette';

// Components
@import 'components/btn/index';

.bg-color {
    @each $ind, $color in $palette {
        
        &-#{$ind} {
            background-color: $color;
        }
    }
}
