@import '_size.scss';

.row {
    display: flex;
    align-items: flex-end;

    .btn {
        display: inline-block;
        margin-right: 30px;
        padding: 11px 36.1px 11px 36.2px;
        background-color: $color-1;
        color: $color-white;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        font-weight: 900;
        text-decoration: none;

        &:hover {
            background-color: $color-3;
            cursor: pointer;
        }

        &.medium {
            padding: 14px 47px;
            font-size: 18px;
            @include size(18px,14px,47px,47px,14px);
        }

        &.large {
            @include size(26px,23px,93px,93px,23px);
            // padding: 23px 93px;
            // font-size: 26px;
            
        }

        &.x-large {
            padding: 27px 100px 27px 102px;
            font-size: 36px;
        }

        &.round {

            &-3 {
                border-radius: 3px;
            }

            &-7 {
                border-radius: 7px;
            }

            &-12 {
                border-radius: 12px;
            }

            &-20 {
                border-radius: 20px;
            }
        }
    }

    &:last-child {
        margin-right: 0;
    }
}
